body {
    background-color: #9b9bac;
}

h1 {
    font-size: 2.5rem;
    color: #2c3e50;
    margin-bottom: 20px;
    text-align: center;
}

/*------------------------- Menu de navigation ------------------------------*/
/* Style général de la navigation */
nav {
    background-color: #470909; 
    padding: 10px 0; 
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    text-align: center;
}

nav ul li {
    display: inline-flex;
    margin: 0 20px;
}

nav ul li a {
    color: #e0e0e0;
    font-size: 20px;
    font-weight: bold;
    text-decoration: none;
}

nav ul li a:hover {
    background-color: #b9b0b0;
    color: #628ab4
}

/* ---------------- Erreur dans le formulaire d'ajout -----------------------*/
.feedback {
    color: #E82700;
    background-color: #ffe3dd;
    border: 1px solid #E82700;
    padding: 8px 12px;
    margin: 15px auto;
    width: fit-content;
    border-radius: 6px;
    text-align: center;
    font-weight: bold;
    font-family: sans-serif;
}

.error {
    color: #ff2e04;
    background-color: #ffe3dd;
    border: 1px solid #E82700;
    padding: 8px 12px;
    margin: 25px auto 15px 1px;
    width: fit-content;
    border-radius: 6px;
    text-align: center;
    font-weight: bold;
    font-family: sans-serif;
}

/* -------------------------- Page de l'animal -----------------*/
.animal-page {
    display: block;
    text-align: center;
    padding: 20px;
    margin: 30px auto;
    width: 60%;
    background: #f9f9f9bd;
    border-radius: 10px;
}

 .animal-image {
    max-width: 250px;
    height: auto;
    border-radius: 8px;
    margin-bottom: 15px;
} 

.animal-text {
    display: block;
    font-size: 1.2rem;
    color: #444;
    line-height: 1.5;
}

/* ------------------------- Page d'animal inconnu et action inconnu ---------------------*/

.error-page {
    display: block;
    background-color: #f8d7da;
    color: #721c24;
    text-align: center;
    padding: 10px;
    margin: 30px auto;
    width: 80%;
    max-width: 800px;
    border-radius: 10px;
}

.error-title {
    display: block;
    font-size: 30px;
    font-weight: bold;
}

.error-page a {
    font-size: 18px;
    color: #0056b3;
    text-decoration: none;
    font-weight: bold;
}

.error-page a:hover {
    text-decoration: underline;
}

/*------------------------- Page d'accueil -----------------------*/

.accueil-text {
    font-size: 25px;
    color: #555;
    line-height: 1.6;
    text-align: center; /* On centre le texte */
    padding: 20px;
    background-color: #e8f0f7;
    width: 80%;
    max-width: 600px;
    margin: 40px auto;
    border-radius: 10px;
    display: block;
}

/*---------------------------- Page liste des animaux --------------------------*/

.animal-list {
    display: flex;
    flex-wrap: wrap; /* permet le deplacement à la ligne suivante en cas de debordement */
    justify-content: space-around;
    gap: 20px;
    padding: 20px;
    list-style: none;
}

.animal-item {
    background-color: #f0f0f0;
    padding: 20px;
    border-radius: 10px;
    width: 200px;
    text-align: center;
    font-size: 15px;
}

.animal-item a {
    text-decoration: none;
    color: #333;
    font-weight: bold;
}

.animal-item:hover {
    background-color: #e0e0e0;
}

/*------------------------- Formulaire d'ajout ---------------------------*/
form {
    width: 80%;
    max-width: 500px;
    margin: 40px auto;  /* Centre le formulaire sur la page */
    padding: 25px;
    background-color: #f9f9f9; 
    border-radius: 8px; 
}

form label {
    display: block;
    margin-bottom: 8px;
    font-weight: bold;
    color: #333;
    font-size: 20px;
}

form input[type="text"],
form input[type="number"],
form input[type="file"],
form button {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #cfcfcf;
    border-radius: 8px;
    font-size: 15px;
}

/* style spécifique au button */
form button {
    background-color: #799ec5;
    color: white;
    border: none;
    font-size: 20px;
    cursor: pointer; /* pour avoir l'effet comme un lien */
}